@font-face {
    font-family: 'Open Sans';
    src:
        local('Open Sans'),
        url(./fonts/OpenSans-Regular.ttf)
        format('truetype');
}

.app {
    text-align: center;
    font-family: 'Open Sans';
}

section.main {
    background-color: #202122;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
