@font-face {
    font-family: 'Open Sans';
    src:
        local('Open Sans'),
        url(./fonts/OpenSans-Regular.ttf)
        format('truetype');
}

@font-face {
    font-family: 'LexendDeca Light';
    src:
        local('Open Sans'),
        url(./fonts/LexendDeca-Light.ttf)
        format('truetype');
}

@font-face {
    font-family: 'LexendDeca';
    src:
        local('Open Sans'),
        url(./fonts/LexendDeca-Regular.ttf)
        format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src:
        local('Open Sans'),
        url(./fonts/Raleway-Regular.ttf)
        format('truetype');
}

.app {
    text-align: center;
    font-family: 'LexendDeca';
}

section.main {
    background-color: #202122;
    min-height: 100vh;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
