.app {
    text-align: center;
}

section.main {
    background-color: #202122;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
